{% extends "base.html" %}
{% block content %}
  <div class="form-container">
    <h1> {{ query.name }} </h1>
    <form method="POST">
      <button type="submit" formaction="/companies/{{ query.ticker }}" class="delete-button">Удалить</button>
    </form>
    {% with message = get_flashed_messages() %}
      {% if message %}
        <div class="alert alert-primary" role="alert">
          {{message[0]}}
        </div>
      {% endif %}
    {% endwith %}
    <table class="table-one">
      {% for k, v in values.items() %}
      <tr class="tr-table">
        <td class="td-table">{{ k }}</td>
        <td class="td-table">{{ formuls_temlate[k] }}</td>
        <td class="td-table">{{ v }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>
</div>
{% endblock %}
