{% extends "base.html" %}
{% block content %}
  <div class="form-container">
    {% with message = get_flashed_messages() %}
      {% if message %}
        <div class="alert alert-primary" role="alert">
          {{message[0]}}
        </div>
      {% endif %}
    {% endwith %}
  <form action="/create" method="POST" enctype="multipart/form-data" class="form-create">
    {{ form.csrf_token }}
    {% for row in form %}
      {% if row.name != 'submit' and row.name != 'csrf_token' %}
        <div>{{ row.label }}{{ row }}</div>
        <span class="validation_error">{{ ', '.join(row.errors) }}</span><br>
      {% endif %}
    {% endfor %}
    {{ form.submit() }}
  </form>
  </div>
{% endblock %}